<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src ="/jquery/dist/jquery.min.js"></script>
    <%- include partials/nav_bar.ejs %>
    <h1>Welcome to the  <%= title %> page</h1>
  </body>
</html>
